.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.item-container {
  border-style: solid;
  border-radius: 10px;
  width: 750px;
  margin: auto;
  margin-top: 40px;
}
.textareaEl{
  height: 45px;
  width: 250px;
  border-style: none;
  border-radius: 10px;
  background-color: #fff;
  margin-top: 10px;
}
  .textareaEl:focus{
    outline: none;
  }
.userItem{
  margin-bottom: -16px;
}
.tag {
  border-style: groove;
  border-radius: 10px;
  width:100px;
  height: 40px;
  display: flex;
  float: left;
}

.list{
  width:100%;
  overflow:hidden;
border: 2px solid black;
margin-top: 0px;}

.list-item{
  padding:8px 16px;
  float:left;
  width:40px;
   height:40px;
   border:none;
   display:block;
   outline:0
  }
.circle{
  border-radius:50%
}

.ul{
  list-style-type:none;
  padding:0;
  margin-left:400px;
  width:400px;
  height:60px
}
.ul .card{
  box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
